<div class="col-md-8 col-lg-8">
  <baidu-map *ngIf="options != null" [ngStyle]="{'height':  mapHeight}"
             [options]="options" (loaded)="onMapLoad($event)"
             (clicked)="onClickMap($event)">
    <marker *ngIf="point != null" [point]="point" [options]="markerOptions" (clicked)="onClickMarker($event)"></marker>
    <control type="navigation" [options]="controlOpts"></control>
    <control type="overviewmap" [options]="overviewmapOpts"></control>
    <control type="scale" [options]="scaleOpts"></control>
    <control type="maptype" [options]="mapTypeOpts"></control>
  </baidu-map>
</div>
<div class="col-md-4 col-lg-4">
  <h4>车牌号:  {{vehildno}}</h4>
  <h4>定位时间:{{gt}}</h4>
  <h4>速度:    {{sp}}</h4>
  <h4>位置:    {{ps}}</h4>
  <h4>车辆状态:{{s1 | ss:s2:s3:s4}}</h4>
  <h4>经度:{{mlat}}</h4>
  <h4>纬度:{{mlng}}</h4>
</div>


